@import "../../scss/breakpoints.scss";

.game-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	grid-template-areas:
		"user-infotext spacer pc-infotext"
		"user-choice game-result pc-choice";

	@include mobile{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: 
			"user-choice pc-choice"
			"user-infotext pc-infotext"
			"game-result game-result";
	}
}

.user-infotext {
	grid-area: user-infotext;
	@include mobile{
		justify-content: flex-start !important;
		font-size: 1.4rem;
	}
}
.spacer {
	grid-area: spacer;
	@include mobile{
		display: none;
	}
}
.pc-infotext {
	grid-area: pc-infotext;
	@include mobile{
		justify-content: flex-start !important;
		font-size: 1.4rem;
	}
}
.user-choice {
	grid-area: user-choice;
}
.pc-choice {
	grid-area: pc-choice;
}
.game-result {
	grid-area: game-result;
	justify-content: space-evenly !important;
}

.grid-element{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info-text{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-align: center;
}

.result-text{
	text-transform: uppercase;
	text-align: center;
	font-family: inherit;
	font-weight: 700;
	font-size: 6rem;
	color: white;

	@include mobile{
		font-size: 6rem;
		margin-bottom: 20px;
	}
}