@import "../../scss/breakpoints.scss";

.game-content {
	position: relative;
	width: 100%;
	height: 500px;
	background-size: auto;

	&--normal {
		background: url(../../images/bg-triangle.svg) no-repeat center;
	}

	&--advanced {
		background: url(../../images/bg-pentagon.svg) no-repeat center;
	}

	@include mobile {
		height: 350px;
	}

	&__weapon {
		position: absolute;
		transition: transform 0.3s;

		//Normal game mode
		&--paper {
			top: 10%;
			left: 20%;

			@include mobile {
				top: 2%;
				left: 0;
			}

			&:hover {
				transform: scale(1.12);
			}
		}

		&--scissors {
			top: 10%;
			right: 20%;

			@include mobile {
				top: 2%;
				right: 0;
			}

			&:hover {
				transform: scale(1.12);
			}
		}

		&--rock {
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);

			@include mobile {
				bottom: 3%;
			}

			&:hover {
				transform: translateX(-50%) scale(1.12);
			}
		}

		//Advanced mode positions
		&--paper-adv {
			bottom: 10%;
			right: 30%;

			@include mobile {
				bottom: 0%;
				right: 10%;
			}
		}

		&--rock-adv {
			top: 30%;
			right: 23%;

			@include mobile {
				right: 0%;
				top: 25%;
			}
		}

		&--scissors-adv {
			top: 8%;
			left: 50%;
			transform: translateX(-50%);

			@include mobile {
				top: 0;
			}
		}

		&--lizard-adv {
			bottom: 10%;
			left: 30%;

			@include mobile {
				bottom: 0;
				left: 10%;
			}
		}

		&--spock-adv {
			top: 30%;
			left: 23%;

			@include mobile {
				left: 0;
				top: 25%;
			}
		}
	}
}
