.game-content{
	position: relative;
	width: 100%;
	height: 500px;
	background: url(../../images/bg-triangle.svg) no-repeat center;
	background-size: auto;

	&__paper{
		position: absolute;
		top: 10%;
		left: 20%;
	}

	&__scissors{
		position: absolute;
		top:10%;
		right: 20%;
	}

	&__rock{
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}
}