.app{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 800px;
	margin: auto;
}

.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer{
	color: white;
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	justify-self: flex-end;
	align-self: flex-end;
	padding: 30px 30px;
}