body {
	margin: 0;
	font-family: "Barlow Semi Condensed", sans-serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	font-size: 1.6rem;
}